<div class="mt-4 centered-content">
    <form name="container-from" method="post" action="/courses/handle-form-active">
        <div>
            <h3>Khóa học của tôi</h3>
            {{!-- {{#if deletedCount}} --}}
            <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
            {{!-- {{/if}} --}}
        </div>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox-all" value="">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-control form-control-sm checkbox-select-all-options" id="exampleFormControlSelect2"
                name="action" required>
                <option>-- Chọn hành động --</option>
                <option value="delete">Xóa</option>
            </select>
            <button id="btn-submit" class="btn btn-primary btn-sm">Thực hiện</button>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col" colspan="2">#</th>
                    <th scope="col">Tên khóa học</th>
                    <th scope="col">Trình độ</th>
                    <th scope="col" colspan="2">Thời gian tạo</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{this._id}} " name="courseIds[]">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                        <a href="#" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal"
                            data-id="{{this._id}}">Xóa</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Bạn chưa đăng ký khóa học nào
                        <a href="/courses/create">Đăng khóa học</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>
<!-- Modal -->
<div id="delete-course-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa khóa học không !!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-primary">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete form --}}
<form name="delete-courses-form" method="post"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var containerFrom = document.forms['container-from'];
        var courseId;
        var deleteForm = document.forms['delete-courses-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = document.getElementById('checkbox-all');
        var courseItemCheckBoxes = document.querySelectorAll('input[name="courseIds[]"]');
        var checkAllSubmitBtn = document.getElementById('btn-submit');

        checkboxAll.addEventListener('click', function () {
            var isChecked = checkboxAll.checked;
            courseItemCheckBoxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
            renderCheckAllSubmitBtn();
        });

        courseItemCheckBoxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var isChecked = [...courseItemCheckBoxes].every(function (checkbox) {
                    return checkbox.checked;
                });
                checkboxAll.checked = isChecked;
            });
        });

        btnDeleteCourse.addEventListener('click', function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        });

        var deleteCourseModal = document.getElementById('delete-course-modal');
        deleteCourseModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            courseId = button.getAttribute('data-id');
        });

        checkAllSubmitBtn.addEventListener('click', function (e) {
            e.preventDefault();
            var isSubmitable = !this.classList.contains('disabled');
            if (isSubmitable) {
                containerFrom.submit();
            }
        });

        function renderCheckAllSubmitBtn() {
            var checkboxCount = $('input[name="courseIds[]"]:checked').length;
            if (checkboxCount > 0) {
                checkAllSubmitBtn.classList.remove('disabled');
            } else {
                checkAllSubmitBtn.classList.add('disabled');
            }
        }
    });
</script>